img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div{
	
        height: 50px;
	width: 120px;
	background-color: #88228d;
	border-color: #110911;
	border-radius: 5px;
	margin: auto;
	text-align: center;

}
span{
	font-weight: bold;
	font-size: 18px;
	color: #ffffff
}
a{
	text-decoration: none;
	color: #7B68EE;
	font-family:Arial;	




}
